add_kotoba.cpp linguist-language=C++
add_kotoba.h linguist-language=C++
folygonkire.cpp linguist-language=C++
folygonkire.h linguist-language=C++
main.cpp linguist-language=C++
mainqt.cpp linguist-language=C++
mainqt.h linguist-language=C++
sqlite3.c linguist-generated
sqlite3.h linguist-generated
mainqt.ui linguist-generated
add_kotoba.ui linguist-generated
folygonkire_cpp.pro linguist-generated
folygonkire_cpp.pro.user linguist-generated
folygonkire_cpp_ja.ts linguist-generated
folygonkire_cpp_ko.ts linguist-generated
folygonkire_cpp_en.ts linguist-generated
folygonkire_cpp_ja.qm linguist-generated
folygonkire_cpp_ko.qm linguist-generated
folygonkire_cpp_en.qm linguist-generated
resource.qrc linguist-generated
imgs/* linguist-generated
README.md linguist-generated
.gitattributes linguist-generated
